h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: semi-bold;
}

h3 {
    font-size: 1.75rem;
    font-weight: semi-bold;
}

.lead {
    font-size: 1.25rem;
    color: #555;
}

body {
    background-color: #fffac6b5;
    color: #333;
}