<!-- AINDA PRECISA DE MELHORIAS -->
<div class="mx-3 d-flex justify-content-center">
    <div class="card my-3 shadow" style="max-width: 900px;">
        <h5 class="card-header">Como funciona?</h5>
        <div class="card-body">
            <p>O Jogo da Fofoca baseia-se em diversos algoritmos de grafos para determinar as relações prévias entre os personagens e o percurso da fofoca.
                Além disso usamos as amizades entre os jogadores para gerar de forma aleatória o jogo e criar uma experiência personalizada e mais engraçada.</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Barabási–Albert:</strong> 
                    <p>O modelo Barabási–Albert funciona criando um grafo que cresce aos poucos e onde novos nós preferem se conectar aos nós que já têm muitas conexões.</p> 
                    <p>Primeiro, começamos com um pequeno grupo de nós totalmente ligados entre si. Depois, para cada novo nó que entra, são adicionadas algumas arestas e a escolha para quem vai se conectar é feita usando o “preferential attachment”: quanto maior o grau de um nó (ou seja, quanto mais conexões ele já tem), maior a chance de ele ser escolhido como destino.</p> 
                    <p>Assim, com o tempo, surgem naturalmente “hubs”( nós muito conectados), reproduzindo o comportamento típico de redes sociais, na qual perfis populares tendem a ficar ainda mais populares.</p>
                    <p>O algoritmo de Barabási–Albert foi utilizado para a geração dos grafos que são a base do jogo</p>
                    <img src="https://i.makeagif.com/media/11-15-2018/0Ccn3L.gif" class="card-img-top" alt="Como Jogar"
                        style="object-fit: contain; max-height: 12rem; padding: 1rem;">
                </li>
                <li class="list-group-item"><strong>DFS:</strong>
                    <p>A busca em profundidade (DFS) é um algoritmo que explora um grafo avançando sempre o máximo possível por um caminho antes de voltar para tentar outros. Ele começa em um nó inicial, marca esse nó como visitado e segue para um vizinho não visitado, repetindo o processo até alcançar uma folha. Quando chega a um ponto sem vizinhos novos, ele marca o nó visto e retorna ao nó anterior para continuar a exploração. Assim, a DFS percorre o grafo como se estivesse mergulhando fundo em cada trilha antes de explorar as alternativas, garantindo que todos os nós conectados sejam visitados.</p>
                    <p>A propagação da fofoca é feita utilizando esse algoritmo, de forma que seja mais difícil encontrar o fofoqueiro./p>
                    <img src="https://miro.medium.com/v2/resize:fit:1248/1*aApu4NMQukGtjySD1lvbsw.gif" class="card-img-top" alt="Como Jogar"
                            style="object-fit: contain; max-height: 12rem; padding: 1rem;">
                </li>
            </ul>
        </div>
    </div>
</div>
