<main class="mx-3">
    <div class="card my-3 shadow">
        <h5 class="card-header">Como funciona o Jogo da Fofoca</h5>
        <div class="card-body">
            <p>O Jogo da Fofoca baseia-se em diversos algoritmos de grafos para determinar as relações prévias entre os personagens e o percurso da fofoca.
                Além disso usamos as amizades entre os jogadores para gerar de forma aleatória o jogo e criar uma experiência personalizada e mais engraçada.</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>(algoritmo de geração de grafos):</strong> papapapapapaapapa.</li>
                <li class="list-group-item"><strong>(BFS (modificado se formos usar a fofoca errada herdável)):</strong> Utilizado para simular a passagem da fofoca entre os personagens.</li>
            </ul>
            <p><strong>(MOSTRAR A ANIMAÇÃO DE CRIAÇÃO DO GRAFO E A SIMULAÇÃO DA FOFOCA)</strong></p>
            <p>O trabalho do jogador é descobrir quem é o fofoqueiro recebendo apenas os relatos individuais dos personagens.</p>
            <p>Cada personagem tem uma variável atrelada que representa seu nível de mentiroso. Essa variável é utilizada para decidirmos se aquele personagem será ou não confiável.</p>
            <p>Caso ele não seja, contará um relato mentiroso que deverá se espalhar para os próximos (confirmar se usaremos essa mecânica).</p>
            <p><strong>(MOSTRAR A FOFOCA ERRADA SENDO HERDADA (CASO FORMOS USAR ESSA MECÂNICA))</strong></p>
            <p>Todos os scores das partidas serão registrados em um servidor para exibição em ranking de quantidade de pontos</p>
            <p>Será que você consegue ser o melhor quebra fofocas?</p>
        </div>
    </div>
</main>
