<main class="mx-3">
    <div class="card my-3 shadow">
        <h5 class="card-header">Como jogar o Jogo da Fofoca</h5>
        <div class="card-body">
            <p>O Jogo da Fofoca é uma experiência interativa onde você deve encontrar dentre os personagens, aquele que
                iniciou a fofoca. Lembre-se que ao longo do caminho a informação pode ter sido perdida ou alterada e o
                fofoqueiro não quer ser descoberto, então, tome cuidado e não acredite em tudo que ouvir por aí.</p> 
            <p>Aqui estão as instruções básicas para começar:</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Analisar os depoimentos:</strong> Analise com calma cada um dos depoimentos individuais.</li>
                <li class="list-group-item"><strong>Identificar inconsistências:</strong> Procure por contradições ou informações que não se alinham entre os depoimentos.</li>
                <li class="list-group-item"><strong>Ferramenta de caminhos:</strong> Utilize a ferramenta de caminhos para marcar as conexões entre os depoimentos.</li>
                <li class="list-group-item"><strong>Formar hipóteses:</strong> Com base nas inconsistências encontradas, forme hipóteses sobre quem pode estar mentindo.</li>
                <li class="list-group-item"><strong>Teste sua hipótese:</strong> Acuse um personagem de ser o fofoqueiro</li>
                <li class="list-group-item"><strong>Em caso de dúvida:</strong> Utilize as dicas disponíveis para ajudá-lo a chegar a uma conclusão. No entanto, atente-se que ao utilizar dicas, seu score aumentará</li>
            </ul>
            <p>Divirta-se jogando o Jogo da Fofoca e descubra quem é o mestre das fofocas entre seus amigos!</p>
        </div>
    </div>
</main>