<div class="mx-3 d-flex justify-content-center">
    <div class="card my-3 shadow" style="max-width: 900px;">
        <h5 class="card-header">Como jogar?</h5>
        <div class="card-body">
            <p>O Jogo da Fofoca é uma experiência interativa onde você deve encontrar dentre os personagens, aquele que
                iniciou a fofoca. A fofoca começa em um personagem aleatório e vai se espalhando para os seus amigos,
                esses amigos gostam de fofoca e vão passar tudo oque sabem a diante.</p>
            <p>Quando a fofoca for espalhada por todos os personagens atingíveis recebemos o depoimento de todos os personagens.
                Seu trabalho é, a partir dos depoimentos, reconstruir a rota da fofoca para descobrir quem é a fonte.</p>
            <p>Aqui estão as suas ferramentas para começar:</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Analisar os depoimentos:</strong> Analise com calma cada um dos depoimentos individuais.</li>
                <li class="list-group-item"><strong>Identificar inconsistências:</strong> Procure por informações que não se alinham entre os depoimentos.</li>
                <li class="list-group-item"><strong>Ferramenta de caminhos:</strong> Marque as conexões no grafo usando os depoimentos.</li>
                <li class="list-group-item"><strong>Checagem de uso único:</strong> Você tem o direito de verificar se um depoimento é verdadeiro uma frase por rodada.</li>
                <li class="list-group-item"><strong>Teste sua hipótese:</strong> Acuse um personagem de ser o fofoqueiro.</li>
                <li class="list-group-item"><strong>Em caso de dúvida:</strong> Utilize as dicas disponíveis para ajudá-lo a chegar a uma conclusão. No entanto, atente-se que ao utilizar dicas, seu score não aumentará.</li>
            </ul>
        </div>
    </div>
</div>